<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login Page</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	
	<link rel="stylesheet" th:href="@{/css/login/login-form.css}">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	
	<div class="top">
		<i class="fa fa-mortar-board"></i>
		<h2>Student Management System</h2>
	</div>
	
	
	<div class="container">
	
		<h3>Login Form</h3>
		
		<form action="#" th:action="@{/authenticateTheUser}" method="POST">
			
			 
			<div class="error" th:if="${param.error}">Invalid username or password</div>
						
			<div id="logout" th:if="${param.logout}">You have been logged out!</div>
			
			<div class="form-input-item">
				<div>Username: </div> <input type="text" name="username">
			</div>
			
			<div class="form-input-item">
				<div>Password: </div> <input type="password" name="password">
			</div>
			
			<button type="submit">Login</button>
		
		</form>
		
		<hr>
		
		
		<span>Haven't registered yet?</span>
		<a th:href="@{/register/showRegistrationForm}">Register</a> 
	</div>
	
	<div class="bottom">
	</div>
</body>

</html>
